<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ошибка</title>
  <style>
    body {
      background: #c9e5ff;
      font-family: Arial, sans-serif;
      margin: 20px;
    }
    .error-message {
      color: red;
      font-size: 1.2em;
      margin-bottom: 20px;
    }
  </style>
</head>
<body>
<div class="error-message">
  Произошла ошибка. Пожалуйста, попробуйте снова.
</div>
<div>
  <a href="/catalog" class="movies-link">На главную</a>
</div>
</body>
</html>
